<main>
  <div class="container">
    <app-index-about-me-section></app-index-about-me-section>

    @if (articles().length > 0){
      <section class="pages">
      <h2>Последние статьи</h2>
      @for (article of articles(); track article.id) {
        <app-main-article-card [article]="article"></app-main-article-card>
      }

      <a routerLink="/blog" title="Статьи">Посмотреть все</a>
    </section>
    }
    <app-index-skills-section></app-index-skills-section>
    <app-index-my-work></app-index-my-work>
    <app-index-hobby></app-index-hobby>
  </div>
</main>