<section class="about-me">
    <div id="about-me-text">
        <h1>Добро пожаловать! Я начинающий веб-разработчик</h1>
        <p>
          В настоящее время прохожу курс от компании Eltex. В этом блоге я делюсь
          полученными знаниями, проектами и в целом полезной информацией. Если вы
          только начинаете свой путь в веб-разработке, блог может стать для вас
          проводником в этом деле. Давайте осваивать эту сферу вместе!
        </p>
        <a routerLink="./" fragment="my-skills" id="link-f-inf">More about me</a>
    </div>

    <div id="about-me-photo">
        <img src="images/photo.jpg" alt="Фотография">
    </div>
</section>